@page
@using MojoDesignCollection.Models
@model MojoDesignCollection.Pages.CartModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<h2>Your Cart</h2>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Quantity</th>
            <th>Item</th>
            <th class="text-right">Price</th>
            <th class="text-right">Subtotal</th>
            <th><span class="glyphicon glyphicon-remove-circle"></span></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var line in @Model.Cart.Lines)
        {
            <tr>
                <td class="text-center">@line.Quantity</td>
                <td class="text-left">@line.Product.Name</td>
                <td class="text-right"> @line.Product.Price.Value.ToString("C")</td>
                <td class="text-right">@((line.Product.Price*line.Quantity).Value.ToString("C"))</td>
                <td class="text-center">
                    <form asp-page-handler="Remove" method="post">
                        <input type="hidden" name="ProductId" value="@line.Product.ProductId" />
                        <input type="hidden" name="returnUrl" value="@Model.ReturnUrl" />
                        <button type="submit" class="btn btn-sm btn-danger"> Remove </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" class="text-right">Total:</td>
            <td class="text-right">
                @Model.Cart.ComputeTotalPrice().ToString("C")
            </td>
        </tr>
    </tfoot>
</table>
<div class="text-center">
    @{
        string category = CategoryEnum.All.ToString();
        if (Model.Cart.Lines.Any())
        {
            category = Model.Cart.Lines.First().Product.Category;
        }

    }
    <a class="btn btn-primary" href="/store?productPage=1&category=@category">Continue Shopping</a>
</div>


